[submodule "madwifi-brn"]
	path = madwifi-brn
	url = git@github.com:HumboldtWirelessLab/madwifi-brn.git
[submodule "openbeacon-brn"]
	path = openbeacon-brn
	url = git@github.com:HumboldtWirelessLab/openbeacon-brn.git
[submodule "gumstix-brn"]
	path = gumstix-brn
	url = git@github.com:HumboldtWirelessLab/gumstix-brn.git

